.mentor-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.mentor-image{
  display: flex;
  justify-content: center;
}

.mentor-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

p {
  margin: 5px 0;
}
